.post {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 15px 20px;
  margin-right: 25px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #111111;
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  border: 1px solid #777777;


  &__title {
    color: #3eb0ef;
    cursor: pointer;
    margin: 0 0 .4em;
    line-height: 1.15em;
    transition: color .2s ease-in-out;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 25px;
    color: #777;
  }

  &__delBtn {
    width: 25px;
    height: 25px;
    border: none;
    background-color: red;
    color:white;
    cursor:pointer;
    margin-top: 15px;
    border-radius: 30%;
  }

  &__popup {
    display: flex;
    padding: 25px 20px;
    background-color: beige;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 350px;

    input,
    textarea{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      background-color: blue;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
    }

    textarea {
      min-height: 150px;
    }



  }

}
